@{
    ViewData["Title"] = "Ikke haik";
}
<div class="text-center">
    <h1 class="display-4">Ikke haik</h1>
    <p>Du skal argumenter for å ikke ha haik</p>
    <img src="~/img/ikketur.jpg" asp-append-version="true" />
</div>