@{
    ViewData["Title"] = "Byhaik";
}
<div class="text-center">
    <h1 class="display-4">By haik</h1>
    <p>Du skal argumenter for en by haik</p>
    <img src="~/img/byhaik.jpg" asp-append-version="true" />
</div>