@{
    ViewData["Title"] = "Sykkeltur";
}
<div class="text-center">
    <h1 class="display-4">Sykkel haik</h1>
    <p>Du skal argumenter for at haiken skal være en sykkeltur</p>
    <img src="~/img/sykkeltur.jpg" asp-append-version="true" />
</div>