@page
@model IndexModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>
    <p>@Model.Message</p>
    <img src="~/img/@Model.Image" asp-append-version="true" />
</div>
