@page
@model IndexModel
@{
    ViewData["Title"] = "Bøllekurs";
}

<div class="text-center">
    <h1 class="display-4">Bøllekurs</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="~/img/del1.png" asp-append-version="true" class="card-img-top" alt="Sakspapirer">
                <div class="card-body">
                    <h5 class="card-title">Del 1</h5>
                    <p class="card-text">Gjennomføres før kretsting</p>
                    <a href="https://docs.google.com/forms/d/1pxZViO6GeDjN6rmprx6HLReHHi2F55tWTjqruo4tDbk/viewform" class="btn btn-primary">Start</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/img/del2.jpg" asp-append-version="true" class="card-img-top" alt="bollekurskort">
                <div class="card-body">
                    <h5 class="card-title">Del 2</h5>
                    <p class="card-text">Gjennomføres på kretsting</p>
                    @if (DateTime.UtcNow > new DateTime(2022, 11, 19, 0, 0, 0))
                    {
                        <a href="~/haik" class="btn btn-primary">Start</a>
                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/img/bollekursmerke.jpg" asp-append-version="true" class="card-img-top" alt="bollekurskort">
                <div class="card-body">
                    <h5 class="card-title">Bøllekursmerket</h5>
                    <a href="~/Bøllekurs.pdf" class="btn btn-primary">merkekrav</a>
                </div>
            </div>
        </div>
    </div>
</div>
